/build/
/dist/
/*.spec
/*.egg-info/

/venv/  
.venv/ 
env/        

/logs/
*.log

.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
Thumbs.db

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env.bak/
venv.bak/

/.pytest_cache/

