[tool.black]
line-length = 88
target-version = ['py310']
include = '\.pyi?$'
extend-exclude = ''

[tool.isort]
atomic = true
profile = "black"
line_length = 88
skip_gitignore = true

[[tool.mypy.overrides]]
module = ["pytesseract.*"]
follow_untyped_imports = true