name: Build EXE for Windows

on:
  push:
    branches: 
      - main
      - test
  workflow_dispatch:    

jobs:
  build-windows-exe:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'

    - name: Cache pip packages
      id: cache-pip
      uses: actions/cache@v4
      with:
        path: ~\AppData\Local\pip\Cache
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pyinstaller

    - name: Build EXE with PyInstaller
      run: |
        pyinstaller --onefile --name DotaFarmBot ./src/main.py

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: windows-exe
        path: dist/DotaFarmBot.exe